[mqtt]

broker = homeassistant.lan
username = CHANGE_ME
password = CHANGE_ME
port = 1883
timeout = 60

[sensor]

pins = [23]                               # Must be an array. [1,2,3,4]

[homeassistant]

device_names = ["fan"]                   # Must compliment pin. ["name-one","name-two","name-three","name-four"]
topic_base = homeassistant/switch
topic_config = conf
topic_state = state
topic_set = set
topic_availability = availability
